@import "../../global.scss";

.contact{
    background-color: white;
    display: flex;
    @include ipad{
        flex-direction: column;
    }
    @include mobile{
        flex-direction: column;
        // align-items: center;
    }

    .left{
        flex: 1.3;
        overflow: hidden;
        @include mobile{
            flex: 0.9;
        }
        @include ipad{
            flex: 1;
        }

        img{
            height: 100%;
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 30px;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-around;

            input{
                margin-top: 20px;
                width: 300px;
                height: 30px;
                font-size: 14px;
                margin: 20px 0;

                @include ipad{
                    width: 290px;
                    height: 20px;
                }
                @include mobile{
                    width: 200px;
                    height: 20px;
                    margin: 10px 0;
                    
                }
            }

            textarea{
                width: 300px;
                height: 210px;
                font-size: 14px;
                margin: 0 0 20px 0;
                @include ipad{
                    width: 290px;
                    height: 200px;
                    margin: 10px 0;
                    margin: 0px 0px 0 0;
                }
                @include mobile{
                    width: 200px;
                    height: 90px;
                    margin:  0 0 5px 0;
                }
                
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: $purple;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                @include ipad{
                    margin: 10px;
                }
            }

            span{
                color: green;
            }

            
        }

        .links{
            display: flex;

            img{
                width: 50px;
                margin-left: 10px;  
                @include mobile{
                    width: 30px;
                }  
            }
        }
    }
}